body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  padding: 0.5rem 1rem;
  color: rgb(0, 0, 0);
}

.navbar img{    
  height:60px;
  border-radius: 5%;

  
}
.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  padding: 0 1rem;
}

.navbar-links a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}
/* Responsive Styles */
.toggle-button {
  display: none;
}

.toggle-label {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}


.heading h1{
   text-align: center;
   font-size: 45px;
}
.container {
    position: relative;
  }
  
  .center {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
  }
  
  img { 
    width: 100%;
    height: auto;
   
  }
  .btn {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}




.car-list{
    display: flex;
    align-items: center;
}

.car-list ul{ 
    display: flex;
    gap: 30px;
    margin-left: 28%;

    
}
ul li{
    list-style: none;
}


.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    background-color: #d6d4e4;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 600px;
    max-width: 100%;
    margin: 10px;

}

.card-side {
    flex: 1;
    padding: 20px;
}

.card-image img {
    width: 400px;
    height: 300px;
    border-radius: 8px;
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.card-text h2 {
    margin-top: 0;
}

.card-text p {
    margin-bottom: 20px;
}

.card-button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.card-button:hover {
    background-color: #0056b3;
}



.icons {
    display: flex;
  
    align-items: center;
    justify-content: space-around;
    
  }
  .icon {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center; 
  }
  
  .image{
    height: 30px;
    width: 30px;
    align-items: center;
  }
  .icons h1{
    font-size: 18px;
  } 


  .card-container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-2 {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    background-color:#d6d4e4;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    

}

.card-side-2 {
    flex: 1;
    padding: 20px;
}

.card-image-2 img {
    width: 400px;
    height: 300px;
    border-radius: 8px;
}

.card-text-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.card-text-2 h2 {
    margin-top: 0;
}

.card-text-2 p {
    margin-bottom: 20px;
}

.card-button-2 {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.card-button-2:hover {
    background-color: #0056b3;
}




/* for Mobile Screen*/
@media (max-width: 550px) {
    .navbar {
        flex-wrap: wrap;
    }

    .toggle-label {
        display: block;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .toggle-button:checked + .toggle-label + .navbar-links {
        display: flex;
        flex-direction: column;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        padding: 1rem;
        text-align: center;
    }
    .cards{
        flex-wrap: wrap;

    }
    .card-container {
      display: block;
      
  }
  


.card {
  display: block;
  flex-direction: row;
  border: 1px solid #ccc;
  background-color: #d6d4e4;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 600px;
  max-width: 100%;
  margin: 10px;

}

.card-side {
  flex: 1;
  padding: 20px;
}

.card-image img {
  width: 400px;
  height: 300px;
  border-radius: 8px;
}

.card-text {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}





.icons {
  display: block;

  align-items: center;
  justify-content: space-around;
  
}
.icon {
  display: block;
  flex-direction: column;
  text-align: center;
  align-items: center; 
}

.image{
  height: 30px;
  width: 30px;
  align-items: center;
}
.icons h1{
  font-size: 18px;
} 


.card-container-2 {
  display: block;
  justify-content: center;
  align-items: center;
}

.card-2 {
  display: block;
 
  

}

.card-side-2 {
  flex: 1;
  padding: 20px;
}

.card-image-2 img {
  width: 400px;
  height: 300px;
  border-radius: 8px;
}

.card-text-2 {
  display: block;
  
}










   
}



/* footer */
footer{
    
    background: #d6d4e4;
    width: 100%;
    margin-top: 50px;
    bottom: 0;
    left: 0;
  }
  footer::before{
    content: '';
    left: 0;
    top: 100px;
    height: 1px;
    width: 100%;
    background: #AFAFB6;
  }
  footer .content{
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
  }
  footer .content .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .content .top .logo-details{
    color: #000000;
    font-size: 30px;
  }
  .content .top .media-icons{
    display: flex;
  }
  .content .top .media-icons a{
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #000000;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
  }
  .top .media-icons a:nth-child(1){
    background: #4267B2;
  }
  .top .media-icons a:nth-child(1):hover{
    color: #4267B2;
    background: #fff;
  }
  .top .media-icons a:nth-child(2){
    background: #1DA1F2;
  }
  .top .media-icons a:nth-child(2):hover{
    color: #1DA1F2;
    background: #fff;
  }
  .top .media-icons a:nth-child(3){
    background: #E1306C;
  }
  .top .media-icons a:nth-child(3):hover{
    color: #E1306C;
    background: #fff;
  }
  .top .media-icons a:nth-child(4){
    background: #0077B5;
  }
  .top .media-icons a:nth-child(4):hover{
    color: #0077B5;
    background: #fff;
  }
  .top .media-icons a:nth-child(5){
    background: #FF0000;
  }
  .top .media-icons a:nth-child(5):hover{
    color: #FF0000;
    background: #fff;
  }
  footer .content .link-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 5 - 10px);
  }
  .content .link-boxes .box .link_name{
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
  }
  .link-boxes .box .link_name::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
  }
  .content .link-boxes .box li{
    margin: 6px 0;
    list-style: none;
  }
  .content .link-boxes .box li a{
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
  }
  .content .link-boxes .box li a:hover{
    opacity: 1;
    text-decoration: underline;
  }
 
 
 
  .input-box input[type="button"]:hover{
    opacity: 1;
  }
  footer .bottom-details{
    width: 100%;
    background: #e0dfee;
  }
  footer .bottom-details .bottom_text{
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 14px;
    font-weight: 300;
    color: #000000;
    opacity: 0.8;
    text-decoration: none;
  }
  .bottom-details .bottom_text a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .bottom-details .bottom_text a{
    margin-right: 10px;
  }
 
  
  @media (max-width: 700px){
    footer{
      position: relative;
    }
    .content .top .logo-details{
      font-size: 26px;
    }
    .content .top .media-icons a{
      height: 35px;
      width: 35px;
      font-size: 14px;
      line-height: 35px;
    }
   
  }
  @media (max-width: 520px){
    footer::before{
      top: 145px;
    }
    footer .content .top{
      flex-direction: column;
    }
    .content .top .media-icons{
      margin-top: 16px;
    }
    footer .content .link-boxes .box{
      width: calc(100% / 2 - 10px);
    }
    footer .content .link-boxes .input-box{
      width: 80%;
    }
  }
  
  
  